<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>董思辉</string>
	<string>徐孜翔</string>
	<string>杨姗姗</string>
	<string>胡铖超</string>
	<string>金伟</string>
	<string>刘柿岑</string>
	<string>李晓洲</string>
	<string>钱俊</string>
	<string>任石磊</string>
	<string>丁伟国</string>
	<string>汪飞</string>
	<string>徐兆进</string>
	<string>杨云</string>
	<string>仲科</string>
	<string>周旭东</string>
	<string>王富强</string>
</array>
</plist>
